.grid-anchor-boxes {
    margin-top: 3rem;
}

.anchor-boxes-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.anchor-list {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding-left: 1.2rem;
}
.anchor-link{
    a {
        color: $black;
    }
}
.consulta-indicadores {
    width: 100%;
    background-image: url(../images/backgroundbutton-3.jpg);
    background-size: cover;
    height: 100%;
    min-height: 150px;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: calc(0.25rem - 1px);
    padding: 1rem;
    img {
        width: 80px;
        height: 80px;
    }
}
.anchor-box-content {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    img {
        width: 80px;
    }
}