.grid-anchor-boxes {
    margin-top: 3rem;
}

.anchor-boxes-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.anchor-list {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding-left: 1.2rem;
}
.anchor-link{
    a {
        color: $black;
    }
}
.consulta-indicadores {
    width: 100%;
    height: 100%;
    padding: .5rem;
    background-color: $blue-gray-100;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.anchor-box-content {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    img {
        width: 80px;
    }
}