.grid-indicadores-cards {
    display: flex;
    gap: 1.5rem;
}

.card-indicadores {
    min-width: 350px;
    max-height: 500px;
    height: 100%;
    width: 400px;
    padding: 1rem;
    border-radius: 4px 4px 4px 4px;
}

.card-indicadores-box {
    display: grid;
    grid-template-rows: 60px 1fr 55px;
    align-content: stretch;
    border: 1px solid #ECEDF0;
    height: 100%;
}

.card-indicadores-title {
    border-radius: 4px 4px 0px 0px;
    background-color: $blue-steel-900;
    color: $white;
    padding: 1rem .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-indicadores-title-text {
    h2 {
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
    }
}

.card-image {
    margin-bottom: 1.5rem;
}

.card-indicadores-title-index {
    border-radius: 4px 4px 4px 4px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        margin: 0;
        font-size: $font-size-md;
        font-weight: 600;
    }
}
.card-indicadores-body{
    padding: .8rem .8rem;
    p {
        font-size: 1rem;
        margin: 0;
    }
}

.title-card-indicadores {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    color: $blue-steel-900;
}


.card-indicadores-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem .8rem;
}

.footer-btn {
    align-self: start;
}