.card-indicadores-item {
    padding: 0rem .5rem;
}
.card-indicadores-box {
    display: grid;
    grid-template-rows: 65px 1fr;
    border: 1px solid $gray-200;
    border-radius: 4px 4px 4px 4px;
    height: 100%;
}
.card-indicadores-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px 4px 0px 0px;
    background-color: $blue-backgrounds;
    color: $white;
    padding: 1rem .8rem;
}
.card-indicadores-title-text {
    h2 {
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
    }
}
.card-indicadores-title-index {
    border-radius: 4px 4px 4px 4px;
    width: 100px;
    border: 1px solid $white;
    text-align: center;
    p{
        margin: 0;
        font-size: $font-size-md;
        font-weight: 600;
    }
}
.body-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    .body-image {
        img {
            padding: 0.8rem;
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            margin: 0;
        }
    }
    .body-content {
        padding: 0.2rem 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.title-card-indicadores {
    font-size: 1rem;
    font-weight: 600;
    margin: .5rem 0rem;
    color: $blue-steel-900;
    line-height: 1.5;
}
.card-indicadores-footer {
    padding: .8rem 0rem;
    display: flex;
    justify-content: flex-end;
}
.footer-btn {
    align-self: start;
}

@media (max-width: $breakpoint-md) {
    .body-box {
        grid-template-columns: 1fr;
        .body-image {
            display: flex;
            justify-content: center;
            img {
                padding: 0.8rem;
                width: 130px;
                height: 130px;
                aspect-ratio: 1/1;
            }
        }
        .body-content {
            padding: 0.2rem 0.8rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}