.grid-indicadores-cards {
    display: flex;
    gap: 1.5rem;
}

.card-indicadores {
    min-width: 350px;
    max-height: 500px;
    height: 100%;
    width: 400px;
    padding: 1.11rem;
    border-radius: 4px 4px 4px 4px;
}

.card-indicadores-box {
    display: grid;
    grid-template-rows: 60px 1fr;
    align-content: stretch;
    border: 1px solid #ECEDF0;
    height: 100%;
}

.card-indicadores-title {
    border-radius: 4px 4px 0px 0px;
    background-color: $blue-backgrounds;
    color: $white;
    padding: 1rem .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-indicadores-title-text {
    h2 {
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
    }
}

.card-image {
    margin-bottom: 1.5rem;
}

.card-indicadores-title-index {
    border-radius: 4px 4px 4px 4px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $white;
    p{
        margin: 0;
        font-size: $font-size-md;
        font-weight: 600;
    }
}
.body-box {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    .body-image {
        padding: 0rem 1.2rem;
        display: flex;
        align-items: center;
        img {
            width: 100px;
            height: 100px;
            aspect-ratio: 1/1;
            margin: 0;
        }
    }
    .body-content {
        padding: 0.8rem;
    }
}


.title-card-indicadores {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    color: $blue-steel-900;
}


.card-indicadores-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: .8rem;
}

.footer-btn {
    align-self: start;
}

@media(max-width: $breakpoint-lg) {
    .body-box {
        flex-direction: column;
    }
    .body-image {
        justify-content: center;
    }
    .card-image {
        padding: .5rem;
    }
    .slick-next {
        right: 5px;
    }
    .slick-prev {
        left: 5px;
    }
}
@media(max-width: $breakpoint-md) {
    .body-box {
        flex-direction: column;
    }
    .body-image {
        justify-content: center;
    }
    .card-image {
        padding: .5rem;
    }
    .slick-next {
        right: 5px;
    }
    .slick-prev {
        left: 5px;
    }
}
@media(max-width: $breakpoint-sm) {
    .body-box {
        flex-direction: column;
    }
    .body-image {
        justify-content: center;
    }
    .card-image {
        padding: .5rem;
    }
    .slick-next {
        right: 5px;
    }
    .slick-prev {
        left: 5px;
    }
}