.header-gov {
    background-color: $blue-500;
    padding: .5rem;
}
.header-logos-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .57rem;
}
.header-nav {
    background-color: $blue-steel-900;
}

.header-nav-list {
    display: flex;
    list-style: none;
    padding: .5rem;
    li{
        width: 150px;
        justify-content: center;
        padding: 0rem .5rem;
        a {
            text-transform: uppercase;
            color: $white;
            font-weight: 500;
            text-decoration: none;
        }
    }
}