/* Header GOV CO */
.header-gov {
    background-color: $blue-500;
    padding: .5rem;
}
.logo-gov-co {
    a img {
        width: 150px;
    }
}
/* Header GOV CO */


/* Header Logos */
.header-logos-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .9rem;
    .header-logo-potencia {
        img {
            width: 150px;
        }
    }
    .header-logo-entidad {
        img {
            width: 200px;
        }
    }
}
/* Header Logos */

// Header nav
.header-nav {
    position: relative;
    z-index: 2;
    border-bottom: 3px solid $blue-backgrounds;
}

.header-nav-box {
    background: $gray-header;
}

.show-menu {
    display: block!important;
}

.header-nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.header-nav-list-item {
    position: relative;
    border-left: 1px solid $gray-border;
    border-right: 1px solid $gray-border;
    a {
        color: $black-text;
        text-decoration: none;
        padding: .8rem 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 100%;
        font-weight: 500;
        text-align: center;
    }
    &:hover {
        #header-nav-list-main-link {
            color: $white;
        }
        background-color: $blue-backgrounds;
        a {
            img {
                filter: invert(94%) sepia(0%) saturate(24%) hue-rotate(24deg) brightness(105%) contrast(108%);
            }
        }
    }
    &.active {
        background-color: $blue-backgrounds;
        #header-nav-list-main-link {
            color: $white;
        }
    }
    img {
        width: 8px;
        height: 5px;
    }
}
#header-nav-list-main-link {
    color: $black-text;
}

.nav-list-dropdown {
    width: 300px;
    position: absolute;
    list-style: none;
    padding: 0;
    margin-top: 0px;
    background-color: white;
    display: none;
    border: 1px solid $gray-100;
    -webkit-box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.1);
}

.header-nav-dropdown-item {
    position: relative;
    a {
        color: $black-text;
        text-decoration: none;
        padding: .5rem 2rem;
        display: flex;
        height: 100%;
        font-weight: 500;
        &:hover {
            background-color: $gray-hover;
            color: $black-text;
        }
    }
}
.header-nav-list-item:hover .nav-list-dropdown {
    display: block;
}

.responsive-menu {
    background-color: $gray-header;
    justify-content: space-between;
    align-items: center;
    color: $white;
    display: none;
    p {
        margin: 0;
    }
    img {
        width: 30px;
        margin-right: 10px;
        color: white;
    }
}

.responsive-menu-box {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem;
    p {
        color: $black-text;
        font-weight: 600;
        font-size: $font-size-lg;
    }
}



@media(max-width:$breakpoint-xs) {
    .header-logos-box {
        .header-logo-entidad {
            img {
                width: 130px;
            }
        }
        .header-logo-potencia {
            img {
                width: 120px;
            }
        }
    }
}

@media(max-width:$breakpoint-sm) {
    .header-logo-entidad {
        img {
            width: 130px;
        }
    }
    .header-logo-potencia {
        img {
            width: 150px;
        }
    }
}

@media(max-width:$breakpoint-md) {
    .logo-gov-co {
        a img {
            width: 135px;
        }
    }
    .responsive-menu {
        display: flex;
    }
    .header-nav-box {
        background-color: $white;
        display: none;
    }
    .header-nav-list {
        flex-direction: column;
    }
    .nav-list-dropdown {
        position: relative;
        width: 100%;
        margin-top: 0px;
        background-color: $blue-steel-900;
        display: block;
    }
    .header-nav-list-item {
        background-color: $blue-backgrounds-contrast;
        #header-nav-list-main-link {
            color: $white;
            img {
                filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(343deg) brightness(104%) contrast(100%);
            }
        }
        &:hover {
            background-color: $blue-backgrounds;
        }
    }
    .header-nav {
        border-bottom: 0px;
    }
    .nav-list-dropdown {
        width: 100%;
        border-bottom: 1px solid $gray-border;
    }
    .header-nav-list-item {
        width: 100%;
    }
    .header-nav-dropdown-item {
        background-color: $white;
        width: 100%;
        a {
            color: $black-text;
        }
    }
}