@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Work+Sans:wght@400;500&display=swap");
body {
  font-family: "Work Sans", sans-serif;
}

.title-h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
}
.title-h1 h1 {
  font-size: 2rem;
  font-weight: 400;
}
.title-h1 h2 {
  font-size: 2rem;
  font-weight: 400;
}

.title-capsula {
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 2;
}
.title-capsula h1 {
  font-size: 2rem;
  font-weight: 400;
}

.visor-box {
  padding: 2rem 0rem;
}

.visor-frame {
  width: 100%;
  aspect-ratio: 16/9;
}

.bg-dha-green {
  background-color: #008142;
}

.bg-ota-mutach {
  background-color: #c89832;
}

.bg-cr-blue {
  background-color: #182342;
}

.bg-cr-blue-200 {
  background-color: #707088;
}

.bg-tpa-red {
  background-color: #DE4934;
}

.bg-shj-blue-dark {
  background-color: #132A36;
}

.bg-blue-light {
  background-color: #EDF2F8;
}

.color-dha-green {
  color: #008142;
}

.color-ota-mutach {
  color: #c89832;
}

.color-cr-blue {
  color: #182342;
}

.color-cr-blue-200 {
  color: #707088;
}

.color-tpa-red {
  color: #DE4934;
}

.color-shj-blue-dark {
  color: #132A36;
}

.btn-blue-background {
  color: #FFFFFF;
  background-color: #004884;
  border-color: #004884;
}
.btn-blue-background:hover {
  color: #FFFFFF;
  background-color: #002c51;
  border-color: #002c51;
}
.btn-check:checked + .btn-blue-background, :not(.btn-check) + .btn-blue-background:active, .btn-blue-background:first-child:active, .btn-blue-background.active, .btn-blue-background.show {
  color: #FFFFFF;
  background-color: #004884;
  border-color: #002c51;
}
.btn-blue-background:focus, .btn-blue-background.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-blue-background:disabled, .btn-blue-background.disabled {
  color: #FFFFFF;
  background-color: #002c51;
  border-color: #002c51;
}

.card-title-capsulas {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

.btn-outline-primary {
  background-color: #FFFFFF;
}

.card {
  height: 90%;
}

.card-footer {
  background-color: #FFFFFF;
  border: none;
  padding: 1.2rem 1.5rem;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1320px;
  }
}
/* Header GOV CO */
.header-gov {
  background-color: #3366CC;
  padding: 0.5rem;
}

.logo-gov-co a img {
  width: 150px;
}

/* Header GOV CO */
/* Header Logos */
.header-logos-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem;
}
.header-logos-box .header-logo-entidad img {
  width: 200px;
}

/* Header Logos */
.header-nav {
  position: relative;
  z-index: 2;
  border-bottom: 3px solid #004884;
}

.header-nav-box {
  background: #ECEDF0;
}

.show-menu {
  display: block !important;
}

.header-nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.header-nav-list-item {
  position: relative;
  border-left: 1px solid #C3C8CF;
  border-right: 1px solid #C3C8CF;
}
.header-nav-list-item a {
  color: #17191F;
  text-decoration: none;
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
  font-weight: 500;
  text-align: center;
}
.header-nav-list-item:hover {
  background-color: #004884;
}
.header-nav-list-item:hover #header-nav-list-main-link {
  color: #FFFFFF;
}
.header-nav-list-item:hover a img {
  filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(343deg) brightness(104%) contrast(100%);
}
.header-nav-list-item.active {
  background-color: #004884;
}
.header-nav-list-item.active #header-nav-list-main-link {
  color: #FFFFFF;
}
.header-nav-list-item img {
  width: 8px;
  height: 5px;
}

#header-nav-list-main-link {
  color: #17191F;
}

.nav-list-dropdown {
  width: 300px;
  position: absolute;
  list-style: none;
  padding: 0;
  margin-top: 0px;
  background-color: white;
  display: none;
  border: 1px solid #ECEDF0;
  -webkit-box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
}

.header-nav-dropdown-item {
  position: relative;
}
.header-nav-dropdown-item a {
  color: #17191F;
  text-decoration: none;
  padding: 0.5rem 2rem;
  display: flex;
  height: 100%;
  font-weight: 500;
}
.header-nav-dropdown-item a:hover {
  background-color: #EAEBED;
  color: #17191F;
}

.header-nav-list-item:hover .nav-list-dropdown {
  display: block;
}

.responsive-menu {
  background-color: #ECEDF0;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  display: none;
}
.responsive-menu p {
  margin: 0;
}
.responsive-menu img {
  width: 30px;
  margin-right: 10px;
  color: white;
}

.responsive-menu-box {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 1rem;
}
.responsive-menu-box p {
  color: #17191F;
  font-weight: 600;
  font-size: 1.125rem;
}

@media (max-width: 390px) {
  .header-logos-box .header-logo-entidad img {
    width: 130px;
  }
  .header-logos-box .header-logo-potencia img {
    width: 120px;
  }
}
@media (max-width: 580px) {
  .header-logo-entidad img {
    width: 130px;
  }
  .header-logo-potencia img {
    width: 150px;
  }
}
@media (max-width: 770px) {
  .logo-gov-co a img {
    width: 135px;
  }
  .responsive-menu {
    display: flex;
  }
  .header-nav-box {
    background-color: #FFFFFF;
    display: none;
  }
  .header-nav-list {
    flex-direction: column;
  }
  .nav-list-dropdown {
    position: relative;
    width: 100%;
    margin-top: 0px;
    background-color: #1A212A;
    display: block;
  }
  .header-nav-list-item {
    background-color: #015aa3;
  }
  .header-nav-list-item #header-nav-list-main-link {
    color: #FFFFFF;
  }
  .header-nav-list-item #header-nav-list-main-link img {
    filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(343deg) brightness(104%) contrast(100%);
  }
  .header-nav-list-item:hover {
    background-color: #004884;
  }
  .header-nav {
    border-bottom: 0px;
  }
  .nav-list-dropdown {
    width: 100%;
    border-bottom: 1px solid #C3C8CF;
  }
  .header-nav-list-item {
    width: 100%;
  }
  .header-nav-dropdown-item {
    background-color: #FFFFFF;
    width: 100%;
  }
  .header-nav-dropdown-item a {
    color: #17191F;
  }
}
.card-indicadores-item {
  padding: 0rem 0.5rem;
}

.card-indicadores-box {
  display: grid;
  grid-template-rows: 65px 1fr;
  border: 1px solid #BDC0C6;
  border-radius: 4px 4px 4px 4px;
  height: 100%;
}

.card-indicadores-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px 4px 0px 0px;
  background-color: #004884;
  color: #FFFFFF;
  padding: 1rem 0.8rem;
}

.card-indicadores-title-text h2 {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.card-indicadores-title-index {
  border-radius: 4px 4px 4px 4px;
  width: 100px;
  border: 1px solid #FFFFFF;
  text-align: center;
}
.card-indicadores-title-index p {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.body-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
}
.body-box .body-image img {
  padding: 0.8rem;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  margin: 0;
}
.body-box .body-content {
  padding: 0.2rem 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-card-indicadores {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0rem;
  color: #1A212A;
  line-height: 1.5;
}

.card-indicadores-footer {
  padding: 0.8rem 0rem;
  display: flex;
  justify-content: flex-end;
}

.footer-btn {
  align-self: start;
}

@media (max-width: 770px) {
  .body-box {
    grid-template-columns: 1fr;
  }
  .body-box .body-image {
    display: flex;
    justify-content: center;
  }
  .body-box .body-image img {
    padding: 0.8rem;
    width: 130px;
    height: 130px;
    aspect-ratio: 1/1;
  }
  .body-box .body-content {
    padding: 0.2rem 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.slider-cards-box {
  padding: 0rem 2rem;
}

.slick-prev {
  left: -25px;
}

.slick-next {
  right: -25px;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-next:before {
  content: url(../images/arrow-right.svg);
}

.slick-prev:before {
  content: url(../images/arrow-left.svg);
}

.grid-anchor-boxes {
  margin-top: 3rem;
}

.anchor-boxes-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.anchor-list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding-left: 1.2rem;
}

.anchor-link a {
  color: #000000;
}

.consulta-indicadores {
  width: 100%;
  height: 166px;
  padding: 0.5rem;
  background-image: url(../images/backgroundbutton.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.anchor-box-content {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.anchor-box-content img {
  width: 80px;
}

footer {
  background-color: #1A212A;
  height: 10rem;
}

.capsula-img img {
  width: 100%;
  aspect-ratio: 324/125;
}

.capsula-subtitle h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.capsula-link {
  color: #17191F;
}