include components/mixins.pug

doctype html
html(lang="es")
    include components/head.pug
    body
        header
            include components/header-gov.pug
            include components/header-logos.pug
            include components/header-nav.pug
        main
            div(class="container")
                div(class="title-h1")
                    h1 Indicadores
                include components/carousel-cards-indicadores.pug
                div(class="grid-anchor-boxes p-2")
                    div(class="title-h1")
                        h2 Otros Indicadores
                    include components/anchor-boxes.pug
            include components/carousel-capsulas.pug
        include components/scripts.pug
    footer
        include components/footer.pug