@mixin generate-button($color, $textColor) {
  color: $textColor;
  background-color: $color;
  border-color: $color;
    &:hover {
        color: $textColor;
        background-color: darken($color, 10%);
        border-color: darken($color, 10%);
    }
    .btn-check:checked + &,
    :not(.btn-check) + &:active,
     &:first-child:active,
    &.active,
    &.show {
        color: $textColor;
        background-color: $color;
        border-color: darken($color, 10%);
    }
    &:focus, &.focus {
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    }
    &:disabled, &.disabled {
        color: $textColor;
        background-color: darken($color, 10%);
        border-color: darken($color, 10%);
    }
}

