.capsula-img {
    img {
        width: 100%;
        aspect-ratio: 324/125;
    }
}

.capsula-subtitle {
    h2 {
        font-size: 1.5rem;
        font-weight: 400;
    }
}
.capsula-link {
    color: $black-text;
}
