/* REFERENCES */
/* 1. TYPOGRAPHY KIT UI V 8.1 OCT 2022 */
.h1-kit {
    font-family: "Montserrat", sans-serif;
    font-weight: 600; /* Semibold */
    font-size: 2.5rem; /* 40px */
    line-height: 3rem; /* 48px; */
   }

   .h2-kit {
     font-family: "Montserrat", sans-serif;
      font-weight: 600; /* Semibold */
      font-size: 2rem; /* 32px */
      line-height: 2.5rem; /* 40px */
   }

   .h3-kit {
     font-family: "Montserrat", sans-serif;
      font-weight: 600; /* Semibold */
      font-size: 1.5rem; /* 24px; */
      line-height:  2rem; /* 32px; */
   }

   .h4-kit {
     font-family: "Montserrat", sans-serif;
      font-weight: 600; /* Semibold */
      font-size: 1.25rem; /* 20px; */
      line-height: 1.875rem; /* 30px; */
   }

   .h5-kit {
     font-family: "Montserrat", sans-serif;
      font-weight: 600; /* Semibold */
      font-size: 1.125rem; /* 18px; */
      line-height: 1.5rem; /*24px ; */
   }

   .h6-kit {
     font-family: "Montserrat", sans-serif;
      font-weight: 600; /* Semibold */
      font-size: 1rem; /* 16px */
      line-height:  1.375rem; /*22px */
      color: rebeccapurple;
   }

   .description-kit {
     font-family: "Montserrat", sans-serif;
      font-weight: 500; /* Medium */
      font-size: 1.125rem; /* 18px */
      line-height: 1.5rem; /* 24px */ ;
   }

   .body-text-1-kit {
     font-family: "Work Sans", sans-serif;
      font-weight: 400; /* Regular */
      font-size: 1rem; /* 16px */
      line-height: 1.375rem; /* 22px */
   }

   .body-text-2-kit {
     font-family: "Work Sans", sans-serif;
      font-weight: 600; /* Semibold */
      font-size: 0.875rem; /* 14px */
      line-height: 1.25rem; /* 20px */
   }

   /* - - - */

   /* 1. TYPOGRAPHY ONL V 2.1 OCT 2023 */
   .display-onl {
    font-family: "Montserrat", sans-serif;
    font-weight: 600; /* Semibold */
    font-size: 2.986rem; /* 48px */
    line-height: 3.688rem; /* 60px */
   }
   .h1-onl {
    font-family: "Montserrat", sans-serif;
    font-weight: 600; /* Semibold */
    font-size: 2.488rem; /* 40px */
    line-height: 3.063rem; /* 49px */
   }

   .h2-onl {
    font-family: "Montserrat", sans-serif;
     font-weight: 600; /* Semibold */
     font-size: 2.074rem; /* 33px */
     line-height: 2.5rem; /* 40px */
   }
   .h3-onl {
     font-family: "Montserrat", sans-serif;
      font-weight: 700; /* Bold */
      font-size: 1.728rem; /* 28px */
      line-height: 2.125rem; /* 34px */
   }
   .h4-onl {
     font-family: "Montserrat", sans-serif;
      font-weight: 700; /* Bold */
      font-size: 1.440rem; /* 23px */
      line-height: 1.75rem; /* 28px */
   }
   .h5-onl {
     font-family: "Montserrat", sans-serif;
      font-weight: 700; /* Bold */
      font-size: 1.20rem; /* 19px */
      line-height: 1.438rem; /* 23px */
   }
   .h6-onl {
     font-family: "Montserrat", sans-serif;
      font-weight: 700; /* Bold */
      font-size: 1rem; /* 16px */
      line-height: 1.25rem; /* 23px */
   }
   .quote-onl {
     font-family: "Work Sans", sans-serif;
      font-weight: 300; /* Light */
      font-size: 1.440rem; /* 23px */
      line-height: 2.125rem; /* 27px */
   }

   .description-onl {
     font-family: "Work Sans", sans-serif;
      font-weight: 500; /* Medium */
      font-size: 1.200rem; /* 19px */
      line-height: 1.375rem; /* 22px */
   }

   .body-text-1-onl {
     font-family: "Work Sans", sans-serif;
      font-weight: 400; /* Normal */
      font-size: 1rem; /* 16px */
      line-height: 1.188rem; /* 19px */
   }

   .body-text-2-onl {
     font-family: "Work Sans", sans-serif;
      font-weight: 600; /* Semi-bold */
      font-size: 0.833rem; /* 13px */
      line-height: 0.938rem; /* 15px */
   }

   .caption-onl {
     font-family: "Work Sans", sans-serif;
      font-weight: 600; /* Semi-bold */
      font-size: 0.694rem; /* 11px */
      line-height: 0.813rem; /* 13px */
   }
/*
Typography
https://govco-prod-webutils.s3.amazonaws.com/uploads/2022-11-10/f7ea96de-bc8f-4564-baf8-6c61020c8624-Kit%20UI%20v8.1%20PDF.pdf

https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight

https://nekocalc.com/es/px-a-rem-conversor

https://learn.microsoft.com/es-es/typography/opentype/spec/os2#usweightclass

https://m2.material.io/design/typography/the-type-system.html#type-scale



*/