$black: #000000;
$white: #FFFFFF;
$gray-100: #ECEDF0;
$gray-200: #BDC0C6;
$blue-500: #3366CC;
$blue-600: #0070AB;
$blue-100: #9fdbfb;
$blue-gray-100:#EEF2F7;
$blue-steel-500: #364252;
$blue-steel-900: #1A212A;
$Green-pnd-500: #008142;

//Font size
$font-size-xxs: 0.625rem; // 10px
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-xxl: 1.5rem; // 24px
$font-size-xxxl: 1.875rem; // 30px
$font-size-xxxxl: 2.25rem; // 36px
$font-size-xxxxxl: 3rem; // 48px

// Breakpoints
$breakpoint-xs: 395px;
$breakpoint-sm: 580px;
$breakpoint-md: 770px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


//Font family
$font-family: 'Work Sans', sans-serif;