.row.mb-5
    .col-md-4.col-lg-4.py-2
        h2.anchor-boxes-title Derecho Humano a la Alimentación
        ul.anchor-list
            +anchor("#", "Indice Nacional Agropecuario")
            +anchor("#", "Caracterización de actividad ganadera")
            +anchor("#", "Indicador de importaciones de insumos")
            +anchor("#", "Visor de precios de productos agropecuarios")
    .col-md-4.col-lg-4.py-2
        h2.anchor-boxes-title Convergencia Regional
        ul.anchor-list
            +anchor("#", "Indice Nacional Agropecuario")
            +anchor("#", "Caracterización de actividad ganadera")
            +anchor("#", "Indicador de importaciones de insumos")
            +anchor("#", "Visor de precios de productos agropecuarios")
    .col-md-4.col-lg-4.py-2
        h2.anchor-boxes-title Seguridad Humana
        ul.anchor-list
            +anchor("#", "Indice Nacional Agropecuario")
            +anchor("#", "Caracterización de actividad ganadera")
            +anchor("#", "Indice Nacional Agropecuario")
            +anchor("#", "Indicador de importaciones de insumos")
.row.mb-5
    .col-md-4.col-lg-4.py-2
        h2.anchor-boxes-title Ordenamiento del Territorio
        ul.anchor-list
            +anchor("#", "Indice Nacional Agropecuario")
            +anchor("#", "Caracterización de actividad ganadera")
    .col-md-4.col-lg-4.py-2
        h2.anchor-boxes-title Transformación Productiva
        ul.anchor-list
            +anchor("#", "Indice Nacional Agropecuario")
            +anchor("#", "Caracterización de actividad ganadera")
            +anchor("#", "Indicador de importaciones de insumos")
            +anchor("#", "Visor de precios de productos agropecuarios")
.row
    .col-md-12
        .consulta-indicadores
            a(href="#") Consultar todos los indicadores