.row.mb-5
    .col-md-4.col-lg-4.py-2
        h2.anchor-boxes-title Derecho Humano a la Alimentación
        .anchor-box-content
            img(src="./images/iconcard.png", alt="")
            ul.anchor-list
                +anchor("#", "Indicador 1")
                +anchor("#", "Indicador 2")
                +anchor("#", "Indicador 3")
    .col-md-4.col-lg-4.py-2
        h2.anchor-boxes-title Convergencia Regional
        .anchor-box-content
            img(src="./images/iconcard.png", alt="")
            ul.anchor-list
                +anchor("#", "Indicador 1")
                +anchor("#", "Indicador 2")
                +anchor("#", "Indicador 3")
    .col-md-4.col-lg-4.py-2
        h2.anchor-boxes-title Seguridad Humana
        .anchor-box-content
            img(src="./images/iconcard.png", alt="")
            ul.anchor-list
                +anchor("#", "Indicador 1")
                +anchor("#", "Indicador 2")
                +anchor("#", "Indicador 3")
.row.mb-5
    .col-md-4.col-lg-4.py-2
        h2.anchor-boxes-title Ordenamiento del Territorio
        .anchor-box-content
            img(src="./images/iconcard.png", alt="")
            ul.anchor-list
                +anchor("#", "Indicador 1")
                +anchor("#", "Indicador 2")
                +anchor("#", "Indicador 3")
    .col-md-4.col-lg-4.py-2
        h2.anchor-boxes-title Transformación Productiva
        .anchor-box-content
            img(src="./images/iconcard.png", alt="")
            ul.anchor-list
                +anchor("#", "Indicador 1")
                +anchor("#", "Indicador 2")
                +anchor("#", "Indicador 3")
    .col-md-4.col-lg-4.py-2
        .consulta-indicadores
            img(src="./images/icon-indicadores-button.png", alt="")
            a(href="#" class="btn btn btn-outline-primary") Consultar más indicadores