.row.mb-5
    .col-md-4.col-lg-4.py-2
        h2.anchor-boxes-title Derecho Humano a la Alimentaci칩n
        .anchor-box-content
            img(src="./images/iconcard-alimentacion2x.png", alt="")
            ul.anchor-list
                +anchor("#", "Indicador 1")
                +anchor("#", "Indicador 2")
                +anchor("#", "Indicador 3")
    .col-md-4.col-lg-4.py-2
        h2.anchor-boxes-title Convergencia Regional
        .anchor-box-content
            img(src="./images/iconcard-convergencia2x.png", alt="")
            ul.anchor-list
                +anchor("#", "Indicador 1")
                +anchor("#", "Indicador 2")
                +anchor("#", "Indicador 3")
    .col-md-4.col-lg-4.py-2
        h2.anchor-boxes-title Seguridad Humana
        .anchor-box-content
            img(src="./images/iconcard.png", alt="")
            ul.anchor-list
                +anchor("#", "Indicador 1")
                +anchor("#", "Indicador 2")
                +anchor("#", "Indicador 3")
.row.mb-5
    .col-md-4.col-lg-4.py-2
        h2.anchor-boxes-title Ordenamiento del Territorio
        .anchor-box-content
            img(src="./images/iconcard-territorio2x.png", alt="Imagen, icono de ordenamiento del territorio")
            ul.anchor-list
                +anchor("#", "Indicador 1")
                +anchor("#", "Indicador 2")
                +anchor("#", "Indicador 3")
    .col-md-4.col-lg-4.py-2
        h2.anchor-boxes-title Transformaci칩n Productiva
        .anchor-box-content
            img(src="./images/iconcard-transformacion2x.png", alt="Imagen, icono de transformaci칩n productiva")
            ul.anchor-list
                +anchor("#", "Indicador 1")
                +anchor("#", "Indicador 2")
                +anchor("#", "Indicador 3")
    .col-md-4.col-lg-4.py-2
        .consulta-indicadores
            img(src="./images/icon-indicadores-button.png", alt="")
            a(href="#" class="btn btn-outline-primary") Consultar m치s indicadores