div(class="card-indicadores")
    div(class="card-indicadores-box")
        div(class="card-indicadores-title")
            div(class="card-indicadores-title-text")
                h2 KPI : Derecho humano a la alimentación
            div(class="card-indicadores-title-index")
                p 33%
        div(class="card-indicadores-body")
            p Contenido
        div(class="card-indicadores-footer")
            a(class="btn btn-primary") Ver más
            a(class="btn btn-primary") Refrescar