div(class="card-indicadores")
    div(class="card-indicadores-box")
        div(class="card-indicadores-title")
            div(class="card-indicadores-title-text")
                h2 KPI : Seguridad humana y justicia social
            div(class="card-indicadores-title-index")
                p 33%
        div(class="card-indicadores-body-image")
                div(class="body-image")
                    img(src="./images/img-card-image.png" alt="Seguridad humana y justicia social")
                div(class="text-content")
                    h3  Seguridad
                    p  Puertos marítimos con infraestructura para impulsar las exportaciones en 10 años.
                    div(class="card-indicadores-footer")
                        a(class="btn btn-primary btn-sm") Ver más
                        a(class="btn btn-primary btn-sm") Refrescar