<div class="card my-3">
  <img src="https://placehold.co/214x128" class="card-img-top" alt="Imagen, Cápsulas">
  <div class="card-body">
    <h3 class="card-title-capsulas">Exportaciones Puertos marítimos</h3>
    <p class="card-text-capsulas">Puertos marítimos con infraestructura para impulsar las exportaciones en 10 años.</p>
    <a href="#" class="btn btn-outline-primary btn-sm">Consultar</a>
  </div>
</div>