div(class="card-indicadores")
    div(class="card-indicadores-box")
        div(class="card-indicadores-title")
            div(class="card-indicadores-title-text")
                h2 KPI : Derecho humano a la alimentación
            div(class="card-indicadores-title-index")
                p 33%
        div(class="card-indicadores-body")
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat facilis ipsa sapiente eligendi asperiores doloribus unde.
        div(class="card-indicadores-footer")
            a(class="btn btn-darken-steel btn-sm footer-btn") Ver más
            a(class="btn btn-refresh btn-sm footer-btn")
                img(src="./images/refresh.svg", alt="")
