div(class="card-indicadores")
    div(class="card-indicadores-box")
        div(class="card-indicadores-title")
            div(class="card-indicadores-title-text")
                h2 KPI : Seguridad humana y justicia social
            div(class="card-indicadores-title-index bg-dha-green")
                p 33%
        div(class="card-indicadores-body")
            .body-box
                .body-image
                    img(class="card-image" src="./images/iconcard.png")
                .body-content
                    h2.title-card-indicadores Seguridad
                    p Puertos marítimos con infraestructura para impulsar las exportaciones en 10 años.
                    div(class="card-indicadores-footer")
                        a(class="btn btn-blue-background btn-sm footer-btn") Texto botón
