.slider-carrousel-box
  .slider-cards-indicadores
    include card-indicadores-image.pug
    include card-indicadores-image.pug
    include card-indicadores-image.pug
    include card-indicadores-image.pug
    include card-indicadores-image.pug
    include card-indicadores-image.pug