.container
    div(class="title-h1")
        h2 Cápsulas
.capsulas-box
    .container
        .capsulas-container
            .capsulas-slider
                +capsulaCard("./images/capsula1.png", "SEPT Transporte", "Estrategia para el transporte público colectivo", "Ver definición")
                +capsulaCard("./images/capsula2.png", "SEPT Transporte", "Estrategia para el transporte público colectivo", "Ver definición")
                +capsulaCard("./images/capsula3.png", "SEPT Transporte", "Estrategia para el transporte público colectivo", "Ver definición")
                +capsulaCard("./images/capsula4.png", "SEPT Transporte", "Estrategia para el transporte público colectivo", "Ver definición")
                +capsulaCard("./images/capsula1.png", "SEPT Transporte", "Estrategia para el transporte público colectivo", "Ver definición")
                +capsulaCard("./images/capsula2.png", "SEPT Transporte", "Estrategia para el transporte público colectivo", "Ver definición")