.slider-carrousel-box
  .slider-cards-indicadores
    +cardIndicadores("Amenaza por Movimiento en Masa (Derrumbes)", "4.29%", "./images/iconcard-territorio2x.png", "Red Vial", "El 4.29% de las Vias Primarias y el 3.9% de las Vías Secundarias están en riesgo por derrumbes.", "Ver Detalle")(class="bg-ota-mutach")
    +cardIndicadores("Conectividad Regional", "4.29%", "./images/iconcard-convergencia2x.png", "Estrategia ECR", "La Estrategia de Conectividad Regional identifica casos para intervención con el PND.", "Ver Otros Datos")(class="bg-ota-mutach")
    +cardIndicadores("Coeficiente de Gini", "4.29%", "./images/iconcard-analitica2x.png", "Medición de la desigualdad", "Referencia para evaluar desigualdad económica y distribución de ingresos en los municipios de Colombia.", "Ver Diagrama")(class="bg-ota-mutach")
    +cardIndicadores("KPI : Seguridad humana y justicia social", "4.29%", "./images/iconcard-alimentacion2x.png", "Energía", "Puertos marítimos con infraestructura para impulsar las exportaciones en 10 años.", "Texto Botón")(class="bg-ota-mutach")
    +cardIndicadores("KPI : Seguridad humana y justicia social", "4.29%", "./images/iconcard-transformacion2x.png", "Infraestructura", "Puertos marítimos con infraestructura para impulsar las exportaciones en 10 años.", "Texto Botón")(class="bg-ota-mutach")