.container
    div(class="title-h1")
        h2 Cápsulas
.capsulas-box
    .container
        .capsulas-container
            .capsulas-slider
                +capsulaCard("./images/capsula-1.png", "SEPT Transporte", "Estrategia para el transporte público colectivo", "Ver definición")
                +capsulaCard("./images/capsula-2.png", "SEPT Transporte", "Estrategia para el transporte público colectivo", "Ver definición")
                +capsulaCard("./images/capsula-3.png", "SEPT Transporte", "Estrategia para el transporte público colectivo", "Ver definición")
                +capsulaCard("./images/capsula-4.png", "SEPT Transporte", "Estrategia para el transporte público colectivo", "Ver definición")
                +capsulaCard("./images/capsula-5.png", "SEPT Transporte", "Estrategia para el transporte público colectivo", "Ver definición")
                +capsulaCard("./images/capsula-6.png", "SEPT Transporte", "Estrategia para el transporte público colectivo", "Ver definición")
                +capsulaCard("./images/capsula-7.png", "SEPT Transporte", "Estrategia para el transporte público colectivo", "Ver definición")
                +capsulaCard("./images/capsula-8.png", "SEPT Transporte", "Estrategia para el transporte público colectivo", "Ver definición")