section(class="header-logos")
    div(class="header-logos-box container")
        div(class="header-logo-potencia")
            img(src="./images/logo-col-vida.png", alt="Logo, Colombia potencia mundial de la vida")
        div(class="header-logo-entidad")
            img(src="https://placehold.co/166x62", alt="Logo, Colombia potencia mundial de la vida")