nav(class="header-nav")
    ul(class="header-nav-list container")
        li
            a(href="#") Inicio
        li
            a(href="#") Analitica
        li
            a(href="#") Observatorio