section(class="header-gov")
    div(class="header-gov-box container")
        div(class="logo-gov-co")
            a(href="https://www.gov.co/")
                img(src="./images/logo_govco.svg" alt="Logo del Gobierno de Colombia")