nav(class="header-nav")
    div(class="header-nav-box")
        div(class="container")
            ul(class="header-nav-list")
                li(class="header-nav-list-item")
                    a(href="#") Inicio
                li(class="header-nav-list-item")
                    a(href="#") Analitica
                    ul(class="nav-list-dropdown")
                        li(class="header-nav-dropdown-item") IA Vías Terciarias
                        li(class="header-nav-dropdown-item") Priorización Vías Terciarias
                        li(class="header-nav-dropdown-item") Tableros
                        li(class="header-nav-dropdown-item") Cápsulas Informativas
                li(class="header-nav-list-item")
                    a(href="#") Observatorio
                    ul(class="nav-list-dropdown")
                        li(class="header-nav-dropdown-item") Observatorio
                        li(class="header-nav-dropdown-item") Estudios
                        li(class="header-nav-dropdown-item") Encuesta Nacional Logística
                        li(class="header-nav-dropdown-item") Temáticas
                        li(class="header-nav-dropdown-item") Logística
                        li(class="header-nav-dropdown-item") Infraestructura y Transporte
                        li(class="header-nav-dropdown-item") Movilidad Urbana y Regional
                        li(class="header-nav-dropdown-item") Energía y Minas
                        li(class="header-nav-dropdown-item") Comunidad Virtual

