section(class="header-logos")
    div(class="header-logos-box container")
        div(class="header-logo-potencia")
            img(src="./images/logo-col-vida.png", alt="Logo, Colombia potencia mundial de la vida")
        div(class="header-logo-entidad")
            img(src="./images/onl-logo.png", alt="Logo, Colombia potencia mundial de la vida")