nav(class="header-nav")
    div(class="responsive-menu")
        div(class="responsive-menu-box container")
            p Menu
            div(id="button-burguer")
                img(src="./images/navburguer.svg", alt="Botón menú")
    div(class="header-nav-box")
        div(class="container")
            ul(class="header-nav-list")
                li(class="header-nav-list-item")
                    a(href="#") Inicio
                li(class="header-nav-list-item")
                    a(href="#") Analitica
                    ul(class="nav-list-dropdown")
                        li(class="header-nav-dropdown-item")
                            a(href="#")  IA Vías Terciarias
                        li(class="header-nav-dropdown-item")
                            a(href="#") Priorización Vías Terciarias
                        li(class="header-nav-dropdown-item")
                            a(href="#") Tableros
                        li(class="header-nav-dropdown-item")
                            a(href="#") Cápsulas Informativas
                li(class="header-nav-list-item")
                    a(href="#") Observatorio
                    ul(class="nav-list-dropdown")
                        li(class="header-nav-dropdown-item")
                            a(href="#")  Observatorio
                        li(class="header-nav-dropdown-item")
                            a(href="#") Estudios
                        li(class="header-nav-dropdown-item")
                            a(href="#") Encuesta Nacional Logística
                        li(class="header-nav-dropdown-item")
                            a(href="#") Temáticas
                        li(class="header-nav-dropdown-item")
                            a(href="#") Logística
                        li(class="header-nav-dropdown-item")
                            a(href="#") Infraestructura y Transporte
                        li(class="header-nav-dropdown-item")
                            a(href="#") Movilidad Urbana y Regional
                        li(class="header-nav-dropdown-item")
                            a(href="#") Energía y Minas
                        li(class="header-nav-dropdown-item")
                            a(href="#") Comunidad Virtual

